
<app-friends-and-strangers-header></app-friends-and-strangers-header>
<div class="container">
    <app-friends-and-strangers-nav></app-friends-and-strangers-nav>
    <div class="row">
        <div class="col-md-7 videoHolder">
            <video width="400" height="400" controls>
              <source src="assets/videos/Facebookmenu.mp4" type="video/mp4">

            Your browser does not support the video tag.
            </video>
        </div>
        <div class="information col-md-5">
            <div>
                Public or private places
                <img class="imageHolder" src="assets/images/friends-and-strangers/public.png" height="200px" width="200px" />
            </div>
            <div>
                Sharing or not sharing
                <img class="imageHolder" src="assets/images/friends-and-strangers/sharing.png" height="200px" width="200px" />
            </div>
            <div>
                Friends or not friends
                <img class="imageHolder" src="assets/images/friends-and-strangers/friendsmenu.png" height="200px" width="200px" />
            </div>
        </div>
    </div>
</div>
