.container {
    margin-top: 20px;
    background-color: #84b1da;
    padding: 10px;
    min-height: 500px;
}

.videoHolder {
    text-align: center;
}

.imageHolder {
    border-bottom: 2px solid black;
}
