<app-friends-and-strangers-header></app-friends-and-strangers-header>
<div class="container">
    <app-friends-and-strangers-nav></app-friends-and-strangers-nav>
    <div class="row">
        <div class="col-md-7 videoHolder">
            <video width="400" height="400" controls>
              <source src="assets/videos/Facebookfriends.mp4" type="video/mp4">

            Your browser does not support the video tag.
            </video>
        </div>
        <div class="information col-md-5">
            <div>
                We feel good with friends
                <img class="imageHolder" src="assets/images/friends-and-strangers/friendsmenu.png" height="200px" width="200px" />
            </div>
            <div>
                We can laugh with friends
                <img class="imageHolder" src="assets/images/friends-and-strangers/friend2.png" height="200px" width="200px" />
            </div>
            <div>
                It is easy to talk with friends
                <img class="imageHolder" src="assets/images/friends-and-strangers/friend3.png" height="200px" width="200px" />
            </div>
        </div>
    </div>
</div>
